/* Add these styles to your existing CSS file, or create a new CSS file */
.btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .filter-btn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    /* Add hover effect */
    &:hover {
      background-color: #2980b9;
    }
  }
  